.hero{
    background-color: black !important;
    margin-bottom: 0 !important;
}
.hero-in{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.fonthead{
    font-size: 64px;
    color: white;
    font-weight: 600;
}
.left{
    display: flex;
        flex-direction: column;
        padding: 3rem 0;
}
.hero-in h2{
    color: white;
}
.hero-img{
    width: 80%;
    height: 80%;
}
.right{
    position: relative;
}
.spin{
    width: 20px;
    position: absolute;
    top: -4rem;
    right: -10rem;
    scale: 0.2;
    animation: spins 7s linear 0s infinite normal;

}
@keyframes spins {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}