.team{
    background: #f5f6f8;
}
.team-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .6rem;
}
.member{
    background: #fff;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 10px;
    padding: 30px;
    transition: all 0.4s ease 0s;
    text-align: center;
}
.member:hover{
    transform: translatey(-4px);
}
.member p{
    color: #8c9ba3;
    font-size: .8rem;
}
.member h2{
    font-size: 1.6rem;
    color: rgb(6, 24, 44);
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 1.2em;
    padding: 0px;
}
.member img{
    border-radius: 10px;

}